*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.containt{
   width: 100%;
   height: 80px;
   background-color: black;
   color: #fff;
   display: flex;
   top: 0;
}
.titre a{
    text-decoration: none;
    color: #fff;
    font-family: 'Uncial Antiqua', cursive;
     font-size: 2.8rem;
     letter-spacing: 2px;
}
.titre a span{
    color: purple;
}
.top{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.dropdown{
    display: flex;
    width: 60%;
    align-items: center;
}
.btndroite{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}
.btndroite a {
     text-decoration: none;
     color: white;
     margin-right: 12px;
}
.dropdown .ligne{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-right:20px;
    margin-left: 20px;
    position: relative;
    font-family: 'Shadows Into Light', cursive;
}
.ligne a{
    color: #fff;
    font-size: 2.4rem;
}
.ligne h2::first-letter{
    color: purple;
}
.dropdown a{
    text-decoration: none;
}
.dropdown li{
    list-style: none;
}
.dropdown{
    display: flex;
}
.sub-menu{
    display: none;
    font-size: 15px;
    position: absolute;
    height: auto;
    width: 200px;
    background-color: black;
    border-radius: 0 0 10px 10px;
}
.sub-menu li{
    font-size: 1.8rem;
    margin-left: 20px;
}
.dropdown li:hover .sub-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ligne a{
     transition: 0.5s;
}
.ligne a:hover{
    color: purple;
}
.nb-panier{
   height: 20px;
   width: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 1px white;
   border-radius: 50%;
   position: absolute;
   margin-left: 20px;
   top:1%;
   font-size: 1.6rem;
}
.fa-pen{
    margin-left: 10px;
    font-size: 20px;
}
.fas{
    transition: 0.5s;
}
.fas:hover{
    color: purple;
}
.fa-pen:hover{
    color: red;
}
.nbmess{ 
   height: 20px;
   width: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 1px white;
   border-radius: 50%;
   position: absolute;
   margin-left: 10px;
   top:1%;
   font-size: 1.6rem;
}
.messagehead{
    display: flex;
    height: 100%;
    align-items: center;
}
.btnadmin{
    display: flex;
    height: 100%;
    align-items: center;
}
.btnadmin i{
    font-size: 20px;
}
.btnadmin i:hover{
    color: red;
}
.fa-power-off{
    margin-left: 10px;
}
.sub-menu i{
    margin-right: 5px;
}
.btnadmin i{
    color: white;
    margin-right: 20px;
}